:root {
  --color-blue-dark: #173d7a;
  --color-blue-light: #029df7;
  --color-gray-normal: #dbe2ed;
  --color-gray-dark: #575757;
  --color-gray-light: #adadad;

  --color-white: #fff;
  --color-green: #5cb449;
  --color-orange: #faa03d;
  --color-blue: #40a7d1;
  --color-marine: #688190;
  --color-red: #f1235a;

  --until-sm: 30em;
  --until-md: 48em;
  --until-lg: 61.875em;
  --until-xl: 75em;
}

// @custom-media --until-sm (max-width: 30em);
// @custom-media --until-md (max-width: 48em);
// @custom-media --until-lg (max-width: 61.875em);
// @custom-media --until-xl (max-width: 75em);

body {
  background: var(--color-blue-dark);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
}

#root {
  min-height: 100vh;
  overflow: hidden;
}

@import "./styles/main.scss";
