.radar-grid {
    position: relative;
    margin-bottom: 50px;
    color: var(--color-white);
    display: none;

    .quadrant-label {
        position: absolute;
        width: 20%;
    }

    .radar-legend {
        position: absolute;
        width: 15%;
        right: 0;
        top: 45%;
    }
}

.quadrant-label {
    .split {
        font-size: 12 px;
        text-transform: uppercase;
    }

    .headline {
        margin-bottom: 10px;
    }

    hr {
        width: 100%;
        margin: 10px 0 10px 0;
    }

    .description {
        font-size: 14px;
    }

    .icon-link {
        font-size: 12px;

        .icon {
            background-size: 18px 18px;
            width: 18px;
            height: 18px;
        }
    }
}

.radar-legend {
    .wrapper {
        margin-bottom: 10px;
    }

    .icon {
        background-position: center;
        margin-right: 5px;
    }
}

@media screen and (min-width: 800px) {
    .radar-grid {
        display: block;
    }
}
